<p>Hi <%=@email%><p>
<p>Welcome, Please click the link below to register the ASKVEE site<p>
<b><a href ="http://qa-askvee.heroku.com/login?perma_link=<%=@permalink%>">Click here</a></b>

<p>Regards</p>
<p>Askvee</p>
