<p>Hi <%=@email %><p>
<p>The Admin of Askvee has invited you as a franchisee for askvee site</p>
<b><a href ="http://qa-askvee.heroku.com/login">Click here</a>

<p>Username: <%=@user_name%></p>
<p>Password:<%=@password%></p>

<p>Regards</p>
<p>Askvee</p>